<%- include('../partials/header') %>

<form id="new-form" action="/flights" method="POST">
  <label>Airline:</label>
  <select name="airline" >
    <option>American</option>
    <option>Southwest</option>
    <option>United</option>
  
  </select>
 
  <label>Flight Number:</label>
  <input type="number" name="flightNo" ></input>
  
  <label>Departure Date:</label>
  <input type="datetime-local" name="departs" ></input>
  
  <label>Airport:</label>
  <select name="airport" default="SEA">
    <option value="SEA">SEA</option>
    <option value="DAL">DAL</option>
    <option value="LAX">LAX</option>
    <option value="AUS">AUS</option>
  
  </select>
  
  <label>Destination:</label>
   <select name="destination" default="SEA">
    <option value="SEA">SEA</option>
    <option value="DAL">DAL</option>
    <option value="LAX">LAX</option>
    <option value="AUS">AUS</option>

  <input type="submit" value="add flight">
  

</form>

<%- include('../partials/footer') %>
